In [1]:
#importing dependacies
import pandas as pd
import geopandas as gp

In [31]:
#reading in puma13 files
pums13 = pd.read_csv("../Data/PUMs_NY/PUMS_NY_2013/ss13hny.csv", usecols = ['PUMA','WGTP', 'ACCESS', 'BROADBND', \
        'COMPOTHX', 'DIALUP', 'DSL', 'FIBEROP','MODEM', 'SATELLITE','OTHSVCEX','HANDHELD','LAPTOP'], dtype = {'PUMA':str})
#print "PUMA 2013:\n", pums13.head(), len(pums13)
#print ""
#Reading in puma_nyc file and merging it
puma_nyc = pd.read_csv("../Data/PUMA_NYC/Use_this/PUMA_NYC.txt", usecols = ['PUMACE10'], dtype={'PUMACE10':str})
p13 = pd.merge(pums13,puma_nyc, how='inner', left_on='PUMA',right_on='PUMACE10')
#print "Merged files:\n", pums13nyc.head(), len(pums13nyc)
del p13['PUMACE10']

In [39]:
p13.head()

,PUMA,WGTP,ACCESS,BROADBND,COMPOTHX,DIALUP,DSL,FIBEROP,HANDHELD,LAPTOP,MODEM,OTHSVCEX,SATELLITE
0,04011,95,1,2,2,2,2,2,1,1,1,2,2
1,04011,175,1,2,2,1,1,2,2,1,1,2,2
2,04011,79,1,2,2,2,2,2,1,1,1,2,2
4,04011,187,1,2,2,2,2,2,1,1,1,2,2
5,04011,87,3,NaN,2,NaN,NaN,NaN,2,2,NaN,NaN,NaN

In [45]:
p13i = p13.drop(labels=['COMPOTHX','HANDHELD','LAPTOP'],axis=1)
p13c = p13.drop(labels= ['ACCESS','BROADBND','DIALUP','DSL','FIBEROP','MODEM','OTHSVCEX','SATELLITE'],axis=1)
p13i = p13i.dropna(how='all',thresh=1,subset=['ACCESS','BROADBND','DIALUP','DSL','FIBEROP','MODEM','SATELLITE','OTHSVCEX'])
p13c = p13c.dropna(how='all',thresh=1,subset=['COMPOTHX','HANDHELD','LAPTOP'])
p13i.head()

,PUMA,WGTP,ACCESS,BROADBND,DIALUP,DSL,FIBEROP,MODEM,OTHSVCEX,SATELLITE
0,04011,95,1,2,2,2,2,1,2,2
1,04011,175,1,2,1,1,2,1,2,2
2,04011,79,1,2,2,2,2,1,2,2
4,04011,187,1,2,2,2,2,1,2,2
5,04011,87,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
PUMAreas=p13c.groupby('PUMA')
Tot_HH = (PUMAreas.WGTP.sum()).sum()
print "For Computer Access:\nTotal number of Households in NYC: {0:,}".format(Tot_HH) #No of HH in NYC
PUMAreas=p13i.groupby('PUMA')
Tot_HH = (PUMAreas.WGTP.sum()).sum()
print "For Internet Access:\nTotal number of Households in NYC: {0:,}".format(Tot_HH) #No of HH in NYC

For Computer Access:
Total number of Households in NYC: 3,084,862
For Internet Access:
Total number of Households in NYC: 3,084,862

In [56]:
print "ACS defines Broadband Access as Internet Access other than Dial-Up, through Mobile BB, DSL, Fiberop, Modem, or Satellite"
BB= p13i.ix[(p13i.BROADBND==1)|(p13i.DSL==1)|(p13i.FIBEROP==1)|(p13i.MODEM==1)|(p13i.SATELLITE==1)].WGTP.sum()
print "Number of NYC HH with High Speed Internet(HSI) access: {0:,} ({1:.2f}%)".format(BB,BB/float(Tot_HH)*100)
print "Number of NYC HH without HSI Access: {0:,} ({1:.2f}%)".format(Tot_HH-BB,(Tot_HH-BB)/float(Tot_HH)*100)

ACS defines Broadband Access as Internet Access other than Dial-Up, through Mobile BB, DSL, Fiberop, Modem, or Satellite
Number of NYC HH with High Speed Internet(HSI) access: 2,272,025 (73.65%)
Number of NYC HH without HSI Access: 812,837 (26.35%)

In [65]:
Comp= p13c.ix[(p13c.LAPTOP==1)|(p13c.HANDHELD==1)].WGTP.sum()
print "Number of NYC HH with computer Access: {0:,} ({1:.2f}%)".format(Comp,Comp/float(Tot_HH)*100)
print "Number of NYC HH without computer Access: {0:,} ({1:.2f}%)".format(Tot_HH-Comp,(Tot_HH-Comp)/float(Tot_HH)*100)

Number of NYC HH with computer Access: 2,548,159 (82.60%)
Number of NYC HH without computer Access: 536,703 (17.40%)

In [162]:
print "ACCESS\n"
TotAccess1 = inter2.ix[inter2.ACCESS==1].WGTP.sum()
print "Number of HH with internet and subscription: {0:,} ({1:.2f}%)" .format(TotAccess1,(TotAccess1/float(Tot_HH))*100)

TotAccess2 = inter2.ix[inter2.ACCESS==2].WGTP.sum()
print "Number of HH with internet but no subscription: {0:,} ({1:.2f}%)" .format(TotAccess2,(TotAccess2/float(Tot_HH))*100)

TotAccess3 = inter2.ix[inter2.ACCESS==3].WGTP.sum()
print "Number of HH without internet: {0:,} ({1:.2f}%)" .format(TotAccess3,(TotAccess3/float(Tot_HH))*100)

ACCESS

Number of HH with internet and subscription: 2,296,941 (74.46%)
Number of HH with internet but no subscription: 113,458 (3.68%)
Number of HH without internet: 674,463 (21.86%)

In [164]:
print "BROADBND\n"
TotBROADBND1 = inter2.ix[inter2.BROADBND==1].WGTP.sum()
print "Number of HH with internet: {0:,} ({1:.2f}%)" .format(TotBROADBND1,(TotBROADBND1/float(Tot_HH))*100)

TotBROADBND2 = inter2.ix[inter2.BROADBND==2].WGTP.sum()
print "Number of HH without internet: {0:,} ({1:.2f}%)" .format(TotBROADBND2,(TotBROADBND2/float(Tot_HH))*100)

print 'Alternatvely:'
TotBROADBND21 = Tot_HH-TotBROADBND1
print "Number of HH without internet: {0:,} ({1:.2f}%)" .format(TotBROADBND21,(TotBROADBND21/float(Tot_HH))*100)

BROADBND

Number of HH with internet: 886,847 (28.75%)
Number of HH without internet: 1,410,094 (45.71%)
alternatvely:
Number of HH without internet: 2,198,015 (71.25%)

In [169]:
#DSL
TotDSL1 = inter2.ix[inter2.DSL==1].WGTP.sum()
TotDSL2 = inter2.ix[inter2.DSL==2].WGTP.sum()
TotDSL21 = Tot_HH-TotDSL1

#Printing DSL
print "DSL\n"
print "Number of HH with internet: {0:,} ({1:.2f}%)" .format(TotDSL1,(TotDSL1/float(Tot_HH))*100)
print "Number of HH without internet: {0:,} ({1:.2f}%)" .format(TotDSL2,(TotDSL2/float(Tot_HH))*100)
print 'Alternatvely:'
print "Number of HH without internet: {0:,} ({1:.2f}%)" .format(TotDSL21,(TotDSL21/float(Tot_HH))*100)

DSL

Number of HH with internet: 403,670 (13.09%)
Number of HH without internet: 1,893,271 (61.37%)
Alternatvely:
Number of HH without internet: 2,681,192 (86.91%)

In [185]:
print "ACS \"BROADBND\"\n"
TotFIBEROP1 = inter2.ix[inter2.FIBEROP==1].WGTP.sum()
TotMODEM1 = inter2.ix[inter2.MODEM==1].WGTP.sum()
TotSATELLITE1 = inter2.ix[inter2.SATELLITE==1].WGTP.sum()

Tot_ACS_BRDBND1 = TotBROADBND1+TotDSL1+TotFIBEROP1+TotMODEM1+TotSATELLITE1
Tot_ACS_BRDBND21 = Tot_HH-Tot_ACS_BRDBND1

Tot_ACS_BRDBND11 = inter2.ix[(inter2.BROADBND==1)|(inter2.DSL==1)|(inter2.FIBEROP==1)|(inter2.MODEM==1)|(inter2.SATELLITE==1)].WGTP.sum()
Tot_ACS_BRDBND211 = Tot_HH-Tot_ACS_BRDBND11
print "Number of HH with internet: {0:,} ({1:.2f}%)" .format(Tot_ACS_BRDBND1,(Tot_ACS_BRDBND1/float(Tot_HH))*100)
print "Number of HH without internet: {0:,} ({1:.2f}%)" .format(Tot_ACS_BRDBND21,(Tot_ACS_BRDBND21/float(Tot_HH))*100)

print "\n\nClearly, a bunch of people with internet have mobile phone broaband too"

print "Better Computation:\n"
print "Number of HH with internet: {0:,} ({1:.2f}%)" .format(Tot_ACS_BRDBND11,(Tot_ACS_BRDBND11/float(Tot_HH))*100)
print "Number of HH without internet: {0:,} ({1:.2f}%)" .format(Tot_ACS_BRDBND211,(Tot_ACS_BRDBND211/float(Tot_HH))*100)

ACS "BROADBND"

Number of HH with internet: 3,374,231 (109.38%)
Number of HH without internet: -289,369 (-9.38%)


Clearly, a bunch of people with internet have mobile phone broaband too
Better Computation:

Number of HH with internet: 2,272,025 (73.65%)
Number of HH without internet: 812,837 (26.35%)

In [183]:
Tot_ACS_BRDBND11 = inter2.ix[(inter2.BROADBND==1)|(inter2.DSL==1)|(inter2.FIBEROP==1)|(inter2.MODEM==1)|(inter2.SATELLITE==1)].WGTP.sum()